@media screen and (min-width: 300px) and (max-width: 767px){
    nav {
        background-color: #333;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;

      }
      .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;

      }
      
      nav ul {
        list-style-type: none;
        margin-right: 2vw;
        padding: 0;
        display: flex;
        flex-direction: column;
      }
      
      nav li {
        float: right;
      }
      
      nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      nav li a:hover {
        background-color: #111;
      }
      
      .nav-logo {
        width: 12vw;
      }

    .banner{
        margin-top: 1.5rem;
        width: 100vw;
        height: 40vw;
        background-size: 100% 100%;
        animation: banner 10s infinite;
        animation-direction: alternate;
    }

    .videoSobre .container{
        flex-direction: column;
    }
}