@media screen and (min-width: 300px) and (max-width: 768px) {
	nav {
		background-color: #333;
		overflow: hidden;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
		flex-direction: column;
	}

	nav ul {
		list-style-type: none;
		margin-right: 2vw;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	nav li {
		float: right;
	}

	nav li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	nav li a:hover {
		background-color: #111;
	}

	.nav-logo {
		width: 7vh;
	}

	.banner {
		margin-top: 1.5rem;
		width: 100vw;
		height: 40vh;
		background-size: 100% 100%;
		animation: banner 10s infinite;
		animation-direction: alternate;
	}

	.videoSobre .contenedor {
		flex-direction: column;
	}

	.videoSobre-button {
		border-radius: 8px;
		background-color: #4f57c5;
		display: block;
		color: #fff;
		border: none;
		height: 3em;
		font-size: 0.8em;
		outline: none;
	}

	.videoSobre-button:hover {
		border-radius: 0.5em;
		background-color: #2b2322;
		display: block;
		color: #fff;
		border: none;
		height: 3em;
		font-size: 0.8em;
		outline: none;
	}
	.galeria {
		height: auto;
		padding: 30px 0;
	}

	.proyectos {
		flex-direction: column;
	}

	.card {
		width: 90%;
		margin-trim: 5px;
	}
}
