.carta {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 10px #55a6ff38;
  width: 100%;
  max-width: 45rem;
  padding: 1.75rem;
  box-sizing: border-box;
  margin-bottom: 6em;
}

.titulo_carta {
  font-size: 28px;
  color: rgb(69, 92, 112);
  margin-bottom: 1rem;
}
